body {
	background-color : rgb(133, 52, 52);
    font-family: 'Raleway',Comic Sans MS;
    overflow-x: hidden;
		}

span{
  color: red;
}

.piedpage {
	margin-bottom: 0px !important;
	background-color:rgba(249, 248, 211, 0.69);
}

.breadcrumb {
	margin: 0;
}

/*css pour la page du forum*/

.row{
	border:solid 0px rgb(58, 0, 0);
	margin-bottom : 10px;

}

.footer{
	margin-bottom:0px;
	
}


#a {
	border : solid rgb(104, 4, 4) 1px;
	box-shadow: 6px -4px rgb(117, 4, 4);
	border-radius:20px;
	padding:8px;
	margin-top :70px;
	margin-left : 145px;
	margin-bottom :22px;
	text-align:  center;

}

.btn-langage{
	color:rgb(131, 1, 1);
	border-radius : 10px;
	width:90px;
	height:40px;
}


/*css pour la page d'accueil*/
.boxConnexion {
	border-style : solid;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin-bottom: 20px;
	margin: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.boxImage {
	margin-bottom: 20px;
	margin: 30px;
}

.h1formulaire {
	text-decoration: underline;
}


/*css pour la page d'accueil*/
.imagecgi {
  border-radius: 60px;
}

.inputaccueil {
  border-radius:5px;
  margin-bottom: 10px;
}

.connexion {
    margin-bottom: 10px;
  }

 #addmail {
 	width: 200px;
 }

/*css pour la page d'inscription*/
.boxFormulaire{
	border-style : solid;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin: 20px;
	text-align: center;
	padding-bottom: 10px;

}
.inputinscription {
  border-radius: 5px;
  float: right;
  color: black;
  margin: 3px;
}

#campus, #genre, #civilite{
    width: 165px;
    height: 26px;
}

.inscription {
  color:white;
  margin: 2px;
  width: 300px;
  margin-bottom: 10px;
}

.inscription {
  font-weight: bold;
	text-align: right;
}

.divinscription {
  text-align: center;
}


.formulaire {
	background-image: url('../reseauxsociaux.png');
	opacity: 0.8;
	margin-bottom: 20px;
	margin: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	/*text-align: right;*/
}

.condition {
	color: white;
}

#bas_inscription{
  margin: 9px;
  color: white;
}

.h1formulaire{
  color: white;
}

#cookie{
    margin-left: 4px;
    position: absolute;
}

/*css page plus d'info*/
.tableau {
	border-style : solid;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 30px;
  padding: 10px;
}

.infocgi {
	color:rgba(249, 248, 211, 0.69);
}

.imginfo {
	margin:10px;
	border-radius:20px;
}

/*csspour la page principal*/
.boxProfile {
	border-style : solid;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin-left:0px;
	box-shadow: 1px 1px 1px 1px;
}


.container-fluid{
	border: solid 0px rgb(139, 52, 52);
	border-radius: 60px;
	padding:10px;
	
}

.rowh {
	border: solid 0px rgb(139, 52, 52);
	background: rgb(240, 240, 240);
	height :130px;
	border-radius: 20px;
	padding:10px;
	box-shadow: 2px 1px 1px 1px;
}

#tete  {
	
	border-radius:60px;
	padding :10px;
}

.tabprofile {
	border-style : solid;
	border-radius: 20px;
	margin:10px;
	background-color:rgb(228, 228, 228);
}

.logo {
	max-width: 100px;
	border-radius:20px;
}

.photo{
	padding: 0px;
}

.hautpage {
	background-attachment: fixed;
	background-color: rgba(255, 255, 255, 0.3);
	margin:0px;

}

.infoperso {
	text-decoration: underline;
	font-weight: bold;
}

.Commentaire {
	padding:10px;
}

.Proposition {
	margin-top: 30px;
}

.boxProposition {
	border-style : solid;
	background-color: rgb(209, 209, 209);
	border-radius: 20px;
	margin-left:30px;
	box-shadow: 1px 1px 1px 1px;
	text-align: center;
	height :300px;
	width :200px;
}

#photo {
	height: 90px;
	width:90px;
	margin-top:30px;
}

.boxForum {
	background-color: rgb(197, 197, 197);
	border-style: solid;
	border-radius: 20px;
	margin-top: 30px;
	padding: 20px;
	margin-left: 20px;
	box-shadow: 1px 1px 1px 1px;
}
