body {
	background-color : rgb(133, 52, 52);
    font-family: 'Raleway',Comic Sans MS;
    overflow-x: hidden;
		}

span{
  color: red;
}

/*css pour la page d'accueil*/
.boxConnexion {
	border-style : solid;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin-bottom: 20px;
	margin: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.boxImage {
	margin-bottom: 20px;
	margin: 30px;
}

.h1formulaire {
	text-decoration: underline;
}



/*css pour la page d'accueil*/
.imagecgi {
  border-radius: 20px;
}

.inputaccueil {
  border-radius:5px;
  margin-bottom: 10px;
}

.connexion {
    margin-bottom: 10px;
  }

 #addmail {
 	width: 200px;
 }

/*css pour la page d'inscription*/
.boxFormulaire{
	border-style : solid;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin: 20px;
	text-align: center;
	padding-bottom: 10px;

}
.inputinscription {
  border-radius: 5px;
  float: right;
  color: black;
  margin: 3px;
}

#campus, #genre, #civilite{
    width: 165px;
    height: 26px;
}

.inscription {
  color:white;
  margin: 2px;
  width: 300px;
  margin-bottom: 10px;
}

.inscription {
  font-weight: bold;
	text-align: right;
}

.divinscription {
  text-align: center;
}


.formulaire {
	background-image: url('../reseauxsociaux.png');
	opacity: 0.8;
	margin-bottom: 20px;
	margin: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	/*text-align: right;*/
}

.condition {
	color: white;
}

#bas_inscription{
  margin: 9px;
  color: white;
}

.h1formulaire{
  color: white;
}

#cookie{
    margin-left: 4px;
    position: absolute;
}





